In [1]:
# import
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, func
import psycopg2

In [2]:
#csvs to dataframes
hate_crimeDF = pd.read_csv('static/templates/hate_crime.csv')
latlngDF = pd.read_csv('static/templates/state_latlng.csv')

C:\Users\jacob\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#changing column names
latlngDF.columns = ["state_abbr", "latitude", "longitude", "state_name"]
#removing state abbr, already in hate_crimes csv
latlngDF.drop('state_abbr', inplace=True, axis=1)
latlngDF.head()

    latitude   longitude  state_name
0  63.588753 -154.493062      Alaska
1  32.318231  -86.902298     Alabama
2  35.201050  -91.831833    Arkansas
3  34.048928 -111.093731     Arizona
4  36.778261 -119.417932  California

In [4]:
latlngDF["geojson"] = list(zip(latlngDF.latitude, latlngDF.longitude))

In [5]:
#dropping unnecessary rows
to_drop = ['ORI',
            'PUB_AGENCY_UNIT',
            'DIVISION_NAME',
            'OFFENDER_RACE',
            'OFFENDER_ETHNICITY',
            'VICTIM_COUNT',
            'OFFENSE_NAME',
            'LOCATION_NAME',
            'VICTIM_TYPES',
            'MULTIPLE_OFFENSE',
            'MULTIPLE_BIAS',
            'POPULATION_GROUP_CODE',
            'POPULATION_GROUP_DESC',
            'ADULT_VICTIM_COUNT',
            'JUVENILE_VICTIM_COUNT',
            'TOTAL_OFFENDER_COUNT',
            'ADULT_OFFENDER_COUNT',
            'JUVENILE_OFFENDER_COUNT']
hate_crimeDF.drop(to_drop, inplace=True, axis=1)
hate_crimeDF.head()

,INCIDENT_ID,DATA_YEAR,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,REGION_NAME,INCIDENT_DATE,TOTAL_INDIVIDUAL_VICTIMS,BIAS_DESC
0,3015,1991,Rogers,City,AR,Arkansas,South,31-AUG-91,1.0,Anti-Black or African American
1,3016,1991,Hope,City,AR,Arkansas,South,19-SEP-91,1.0,Anti-White
2,43,1991,Pine Bluff,City,AR,Arkansas,South,04-JUL-91,1.0,Anti-Black or African American
3,44,1991,Pine Bluff,City,AR,Arkansas,South,24-DEC-91,1.0,Anti-White
4,3017,1991,Pine Bluff,City,AR,Arkansas,South,23-DEC-91,1.0,Anti-White

In [6]:
# Checking the data types of all columns
hate_crimeDF.dtypes

INCIDENT_ID                   int64
DATA_YEAR                     int64
PUB_AGENCY_NAME              object
AGENCY_TYPE_NAME             object
STATE_ABBR                   object
STATE_NAME                   object
REGION_NAME                  object
INCIDENT_DATE                object
TOTAL_INDIVIDUAL_VICTIMS    float64
BIAS_DESC                    object
dtype: object

In [7]:
# Checking the whether the the row contains null values
hate_crimeDF.isna().sum()

INCIDENT_ID                    0
DATA_YEAR                      0
PUB_AGENCY_NAME                0
AGENCY_TYPE_NAME               0
STATE_ABBR                     0
STATE_NAME                     0
REGION_NAME                    0
INCIDENT_DATE                  0
TOTAL_INDIVIDUAL_VICTIMS    1606
BIAS_DESC                      0
dtype: int64

In [8]:
#removing null values
hate_crimeDF.dropna(axis=0, how='any', thresh=None, subset=['TOTAL_INDIVIDUAL_VICTIMS'], inplace=True)
hate_crimeDF.isna().sum()

INCIDENT_ID                 0
DATA_YEAR                   0
PUB_AGENCY_NAME             0
AGENCY_TYPE_NAME            0
STATE_ABBR                  0
STATE_NAME                  0
REGION_NAME                 0
INCIDENT_DATE               0
TOTAL_INDIVIDUAL_VICTIMS    0
BIAS_DESC                   0
dtype: int64

In [9]:
# Converting all the column heading to lower case 
hate_crimeDF = hate_crimeDF.rename(str.lower,axis='columns')
hate_crimeDF.head()

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc
0,3015,1991,Rogers,City,AR,Arkansas,South,31-AUG-91,1.0,Anti-Black or African American
1,3016,1991,Hope,City,AR,Arkansas,South,19-SEP-91,1.0,Anti-White
2,43,1991,Pine Bluff,City,AR,Arkansas,South,04-JUL-91,1.0,Anti-Black or African American
3,44,1991,Pine Bluff,City,AR,Arkansas,South,24-DEC-91,1.0,Anti-White
4,3017,1991,Pine Bluff,City,AR,Arkansas,South,23-DEC-91,1.0,Anti-White

In [10]:
#merging csvs
hate_crimeDF = pd.merge(hate_crimeDF, latlngDF, on='state_name')
hate_crimeDF.head()

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc,latitude,longitude,geojson
0,3015,1991,Rogers,City,AR,Arkansas,South,31-AUG-91,1.0,Anti-Black or African American,35.20105,-91.831833,"(35.20105, -91.83183299999999)"
1,3016,1991,Hope,City,AR,Arkansas,South,19-SEP-91,1.0,Anti-White,35.20105,-91.831833,"(35.20105, -91.83183299999999)"
2,43,1991,Pine Bluff,City,AR,Arkansas,South,04-JUL-91,1.0,Anti-Black or African American,35.20105,-91.831833,"(35.20105, -91.83183299999999)"
3,44,1991,Pine Bluff,City,AR,Arkansas,South,24-DEC-91,1.0,Anti-White,35.20105,-91.831833,"(35.20105, -91.83183299999999)"
4,3017,1991,Pine Bluff,City,AR,Arkansas,South,23-DEC-91,1.0,Anti-White,35.20105,-91.831833,"(35.20105, -91.83183299999999)"

In [11]:
# removing years that are not in consideration of our study
hate_crimeDF = hate_crimeDF[hate_crimeDF['data_year'] >= 1993]
print(hate_crimeDF.head())
print(hate_crimeDF.shape)

    incident_id  data_year pub_agency_name agency_type_name state_abbr  \
50        11390       1993      Berryville             City         AR
51        11391       1993       Jonesboro             City         AR
52        11392       1993       Jonesboro             City         AR
53        11393       1993       Jonesboro             City         AR
54        11394       1993         Newport             City         AR

   state_name region_name incident_date  total_individual_victims  \
50   Arkansas       South     29-JUN-93                       1.0
51   Arkansas       South     23-MAR-93                       1.0
52   Arkansas       South     01-APR-93                       1.0
53   Arkansas       South     10-JUL-93                       2.0
54   Arkansas       South     03-JUN-93                       1.0

                         bias_desc  latitude  longitude  \
50  Anti-Black or African American  35.20105 -91.831833
51                      Anti-White  35.20105 -91.831833
52                      Anti-White  35.20105 -91.831833
53                 Anti-Gay (Male)  35.20105 -91.831833
54                      Anti-White  35.20105 -91.831833

                           geojson
50  (35.20105, -91.83183299999999)
51  (35.20105, -91.83183299999999)
52  (35.20105, -91.83183299999999)
53  (35.20105, -91.83183299999999)
54  (35.20105, -91.83183299999999)
(188514, 13)

In [12]:
#adding administration column
administration = []
hate_crimeDF.loc[hate_crimeDF['data_year'] <= 1996, 'administration'] = "Clinton 1st Term"
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 1996) & (hate_crimeDF['data_year'] <= 2000), 'administration'] = 'Clinton 2nd Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] >2000) & (hate_crimeDF['data_year'] <= 2004), 'administration'] = 'W. Bush 1st Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 2004) & (hate_crimeDF['data_year'] <= 2008), 'administration'] = 'W. Bush 2nd Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 2008) & (hate_crimeDF['data_year'] <= 2012), 'administration'] = 'Obama 1st Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 2012) & (hate_crimeDF['data_year'] <= 2016), 'administration'] = 'Obama 2nd Term'
hate_crimeDF.loc[hate_crimeDF['data_year'] >= 2017, 'administration'] = 'Trump 1st Term'
hate_crimeDF

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc,latitude,longitude,geojson,administration
50,11390,1993,Berryville,City,AR,Arkansas,South,29-JUN-93,1.0,Anti-Black or African American,35.201050,-91.831833,"(35.20105, -91.83183299999999)",Clinton 1st Term
51,11391,1993,Jonesboro,City,AR,Arkansas,South,23-MAR-93,1.0,Anti-White,35.201050,-91.831833,"(35.20105, -91.83183299999999)",Clinton 1st Term
52,11392,1993,Jonesboro,City,AR,Arkansas,South,01-APR-93,1.0,Anti-White,35.201050,-91.831833,"(35.20105, -91.83183299999999)",Clinton 1st Term
53,11393,1993,Jonesboro,City,AR,Arkansas,South,10-JUL-93,2.0,Anti-Gay (Male),35.201050,-91.831833,"(35.20105, -91.83183299999999)",Clinton 1st Term
54,11394,1993,Newport,City,AR,Arkansas,South,03-JUN-93,1.0,Anti-White,35.201050,-91.831833,"(35.20105, -91.83183299999999)",Clinton 1st Term
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199765,601046,2018,Honolulu,City,HI,Hawaii,West,25-OCT-18,1.0,Anti-White,19.898682,-155.665857,"(19.898682, -155.66585700000002)",Trump 1st Term
199766,601047,2018,Honolulu,City,HI,Hawaii,West,29-SEP-18,1.0,Anti-Black or African American,19.898682,-155.665857,"(19.898682, -155.66585700000002)",Trump 1st Term
199767,601049,2018,Honolulu,City,HI,Hawaii,West,10-JUL-18,1.0,Anti-Jewish,19.898682,-155.665857,"(19.898682, -155.66585700000002)",Trump 1st Term
199768,601053,2018,Honolulu,City,HI,Hawaii,West,22-DEC-18,1.0,Anti-Asian,19.898682,-155.665857,"(19.898682, -155.66585700000002)",Trump 1st Term
199769,601055,2018,Honolulu,City,HI,Hawaii,West,29-SEP-18,1.0,Anti-Black or African American,19.898682,-155.665857,"(19.898682, -155.66585700000002)",Trump 1st Term

In [13]:
#saving cleaned data csv
hate_crimeDF.to_csv('cleaned_hate_crime.csv',index = False)

In [14]:
# Create PostgreSQL RDS Database Connection
engine = create_engine("postgres+psycopg2://postgres:postgres@127.0.0.1:5432/Project_2")
conn = engine.connect()

In [15]:
# Check table names
engine.table_names()

['hate_crimes']

In [16]:
hate_crimeDF.to_sql('hate_crimes', conn)

ValueError: Table 'hate_crimes' already exists.

In [17]:
pd.read_sql_query('select * from hate_crimes', con=engine).head()

Empty DataFrame
Columns: [index, incident_id, data_year, pub_agency_name, agency_type_name, state_abbr, state_name, region_name, incident_date, total_individual_victims, bias_desc, latitude, longitude, geojson, administration]
Index: []