In [211]:
# import
import pandas as pd
import numpy as np

In [212]:
cleaned_hate_crimeDF = pd.read_csv('cleaned_hate_crime.csv')
cleaned_hate_crimeDF.head()

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc,administration
0,15761,1993,Anchorage,City,AK,Alaska,West,14-FEB-93,2.0,Anti-Gay (Male),Clinton 1st Term
1,15762,1993,Anchorage,City,AK,Alaska,West,24-MAR-93,2.0,Anti-Black or African American,Clinton 1st Term
2,15763,1993,Anchorage,City,AK,Alaska,West,02-JUL-93,1.0,Anti-Black or African American,Clinton 1st Term
3,15764,1993,Anchorage,City,AK,Alaska,West,07-JUL-93,1.0,Anti-White,Clinton 1st Term
4,15765,1993,Anchorage,City,AK,Alaska,West,12-JUL-93,1.0,Anti-Asian,Clinton 1st Term

In [213]:
state_df = cleaned_hate_crimeDF[['data_year', 'state_abbr', 'total_individual_victims', 'administration']]
state_df.head()

   data_year state_abbr  total_individual_victims    administration
0       1993         AK                       2.0  Clinton 1st Term
1       1993         AK                       2.0  Clinton 1st Term
2       1993         AK                       1.0  Clinton 1st Term
3       1993         AK                       1.0  Clinton 1st Term
4       1993         AK                       1.0  Clinton 1st Term

In [224]:
map_df = state_df.groupby(['administration', 'data_year', 'state_abbr']).total_individual_victims.count().to_frame(name = 'victims').reset_index()
map_df

        administration  data_year state_abbr  victims
0     Clinton 1st Term       1993         AK       24
1     Clinton 1st Term       1993         AL        5
2     Clinton 1st Term       1993         AR       13
3     Clinton 1st Term       1993         AZ      208
4     Clinton 1st Term       1993         CA      364
...                ...        ...        ...      ...
1262  W. Bush 2nd Term       2008         VT       22
1263  W. Bush 2nd Term       2008         WA      240
1264  W. Bush 2nd Term       2008         WI       95
1265  W. Bush 2nd Term       2008         WV       46
1266  W. Bush 2nd Term       2008         WY        6

[1267 rows x 4 columns]

In [225]:
map_df.to_csv('victims_by_state.csv',index = False)