In [13]:
# import
import pandas as pd
import numpy as np

In [14]:
cleaned_hate_crimeDF = pd.read_csv('cleaned_hate_crime.csv')
cleaned_hate_crimeDF.head()

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims
0,15761,1993,Anchorage,City,AK,Alaska,West,14-FEB-93,2.0
1,15762,1993,Anchorage,City,AK,Alaska,West,24-MAR-93,2.0
2,15763,1993,Anchorage,City,AK,Alaska,West,02-JUL-93,1.0
3,15764,1993,Anchorage,City,AK,Alaska,West,07-JUL-93,1.0
4,15765,1993,Anchorage,City,AK,Alaska,West,12-JUL-93,1.0

In [18]:
state_df = cleaned_hate_crimeDF[['data_year', 'state_abbr', 'total_individual_victims']]
state_df.head()

   data_year state_abbr  total_individual_victims
0       1993         AK                       2.0
1       1993         AK                       2.0
2       1993         AK                       1.0
3       1993         AK                       1.0
4       1993         AK                       1.0

In [19]:
state_df = state_df.groupby(['state_abbr', 'data_year'])['total_individual_victims'].count()

state_df

state_abbr  data_year
AK          1993         24
            1994          9
            1995          8
            1996          9
            1997         10
                         ..
WY          2012          2
            2013          1
            2015          2
            2016          3
            2017          2
Name: total_individual_victims, Length: 1267, dtype: int64

In [ ]:
states_

In [22]:
#saving state data csv
state_df = state_df.to_dataframe(name=None, dim_order=None)

AttributeError: 'Series' object has no attribute 'to_dataframe'

In [ ]:

state_df.to_csv('victims_by_state.csv',index = False)