In [1]:
# import
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, func
import psycopg2

In [2]:
#csvs to dataframes
hate_crimeDF = pd.read_csv('static/templates/hate_crime.csv')
latlngDF = pd.read_csv('static/templates/state_latlng.csv')

C:\Users\jacob\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#changing column names
latlngDF.columns = ["state_abbr", "latitude", "longitude", "state_name"]
#removing state abbr, already in hate_crimes csv
latlngDF.drop('state_abbr', inplace=True, axis=1)
latlngDF.head()

    latitude   longitude   state_name
0  63.588753 -154.493062       Alaska
1  32.318231  -86.902298      Alabama
2  35.201050  -91.831833     Arkansas
3  34.048928 -111.093731      Arizona
4  36.778261 -119.417932   California

In [4]:
#dropping unnecessary rows
to_drop = ['ORI',
            'PUB_AGENCY_UNIT',
            'DIVISION_NAME',
            'OFFENDER_RACE',
            'OFFENDER_ETHNICITY',
            'VICTIM_COUNT',
            'OFFENSE_NAME',
            'LOCATION_NAME',
            'VICTIM_TYPES',
            'MULTIPLE_OFFENSE',
            'MULTIPLE_BIAS',
            'POPULATION_GROUP_CODE',
            'POPULATION_GROUP_DESC',
            'ADULT_VICTIM_COUNT',
            'JUVENILE_VICTIM_COUNT',
            'TOTAL_OFFENDER_COUNT',
            'ADULT_OFFENDER_COUNT',
            'JUVENILE_OFFENDER_COUNT']
hate_crimeDF.drop(to_drop, inplace=True, axis=1)
hate_crimeDF.head()

,INCIDENT_ID,DATA_YEAR,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,REGION_NAME,INCIDENT_DATE,TOTAL_INDIVIDUAL_VICTIMS,BIAS_DESC
0,3015,1991,Rogers,City,AR,Arkansas,South,33481,1.0,Anti-Black or African American
1,3016,1991,Hope,City,AR,Arkansas,South,33500,1.0,Anti-White
2,43,1991,Pine Bluff,City,AR,Arkansas,South,33423,1.0,Anti-Black or African American
3,44,1991,Pine Bluff,City,AR,Arkansas,South,33596,1.0,Anti-White
4,3017,1991,Pine Bluff,City,AR,Arkansas,South,33595,1.0,Anti-White

In [5]:
# Checking the data types of all columns
hate_crimeDF.dtypes

INCIDENT_ID                   int64
DATA_YEAR                     int64
PUB_AGENCY_NAME              object
AGENCY_TYPE_NAME             object
STATE_ABBR                   object
STATE_NAME                   object
REGION_NAME                  object
INCIDENT_DATE                 int64
TOTAL_INDIVIDUAL_VICTIMS    float64
BIAS_DESC                    object
dtype: object

In [6]:
# Checking the whether the the row contains null values
hate_crimeDF.isna().sum()

INCIDENT_ID                    0
DATA_YEAR                      0
PUB_AGENCY_NAME                0
AGENCY_TYPE_NAME               0
STATE_ABBR                     0
STATE_NAME                     0
REGION_NAME                    0
INCIDENT_DATE                  0
TOTAL_INDIVIDUAL_VICTIMS    1606
BIAS_DESC                      0
dtype: int64

In [7]:
#removing null values
hate_crimeDF.dropna(axis=0, how='any', thresh=None, subset=['TOTAL_INDIVIDUAL_VICTIMS'], inplace=True)
hate_crimeDF.isna().sum()

INCIDENT_ID                 0
DATA_YEAR                   0
PUB_AGENCY_NAME             0
AGENCY_TYPE_NAME            0
STATE_ABBR                  0
STATE_NAME                  0
REGION_NAME                 0
INCIDENT_DATE               0
TOTAL_INDIVIDUAL_VICTIMS    0
BIAS_DESC                   0
dtype: int64

In [8]:
# Converting all the column heading to lower case 
hate_crimeDF = hate_crimeDF.rename(str.lower,axis='columns')
hate_crimeDF.head()

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc
0,3015,1991,Rogers,City,AR,Arkansas,South,33481,1.0,Anti-Black or African American
1,3016,1991,Hope,City,AR,Arkansas,South,33500,1.0,Anti-White
2,43,1991,Pine Bluff,City,AR,Arkansas,South,33423,1.0,Anti-Black or African American
3,44,1991,Pine Bluff,City,AR,Arkansas,South,33596,1.0,Anti-White
4,3017,1991,Pine Bluff,City,AR,Arkansas,South,33595,1.0,Anti-White

In [9]:
#merging csvs
hate_crimeDF = pd.merge(hate_crimeDF, latlngDF, on='state_name')
hate_crimeDF.head()

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc,latitude,longitude
0,3015,1991,Rogers,City,AR,Arkansas,South,33481,1.0,Anti-Black or African American,35.20105,-91.831833
1,3016,1991,Hope,City,AR,Arkansas,South,33500,1.0,Anti-White,35.20105,-91.831833
2,43,1991,Pine Bluff,City,AR,Arkansas,South,33423,1.0,Anti-Black or African American,35.20105,-91.831833
3,44,1991,Pine Bluff,City,AR,Arkansas,South,33596,1.0,Anti-White,35.20105,-91.831833
4,3017,1991,Pine Bluff,City,AR,Arkansas,South,33595,1.0,Anti-White,35.20105,-91.831833

In [10]:
# removing years that are not in consideration of our study
hate_crimeDF = hate_crimeDF[hate_crimeDF['data_year'] >= 1993]
print(hate_crimeDF.head())
print(hate_crimeDF.shape)

    incident_id  data_year pub_agency_name agency_type_name state_abbr  \
50        11390       1993      Berryville             City         AR
51        11391       1993       Jonesboro             City         AR
52        11392       1993       Jonesboro             City         AR
53        11393       1993       Jonesboro             City         AR
54        11394       1993         Newport             City         AR

   state_name region_name  incident_date  total_individual_victims  \
50   Arkansas       South          34149                       1.0
51   Arkansas       South          34051                       1.0
52   Arkansas       South          34060                       1.0
53   Arkansas       South          34160                       2.0
54   Arkansas       South          34123                       1.0

                         bias_desc  latitude  longitude
50  Anti-Black or African American  35.20105 -91.831833
51                      Anti-White  35.20105 -91.831833
52                      Anti-White  35.20105 -91.831833
53                 Anti-Gay (Male)  35.20105 -91.831833
54                      Anti-White  35.20105 -91.831833
(140574, 12)

In [11]:
#adding administration column
administration = []
hate_crimeDF.loc[hate_crimeDF['data_year'] <= 1996, 'administration'] = "Clinton 1st Term"
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 1996) & (hate_crimeDF['data_year'] <= 2000), 'administration'] = 'Clinton 2nd Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] >2000) & (hate_crimeDF['data_year'] <= 2004), 'administration'] = 'W. Bush 1st Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 2004) & (hate_crimeDF['data_year'] <= 2008), 'administration'] = 'W. Bush 2nd Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 2008) & (hate_crimeDF['data_year'] <= 2012), 'administration'] = 'Obama 1st Term'
hate_crimeDF.loc[(hate_crimeDF['data_year'] > 2012) & (hate_crimeDF['data_year'] <= 2016), 'administration'] = 'Obama 2nd Term'
hate_crimeDF.loc[hate_crimeDF['data_year'] >= 2017, 'administration'] = 'Trump 1st Term'
hate_crimeDF

,incident_id,data_year,pub_agency_name,agency_type_name,state_abbr,state_name,region_name,incident_date,total_individual_victims,bias_desc,latitude,longitude,administration
50,11390,1993,Berryville,City,AR,Arkansas,South,34149,1.0,Anti-Black or African American,35.201050,-91.831833,Clinton 1st Term
51,11391,1993,Jonesboro,City,AR,Arkansas,South,34051,1.0,Anti-White,35.201050,-91.831833,Clinton 1st Term
52,11392,1993,Jonesboro,City,AR,Arkansas,South,34060,1.0,Anti-White,35.201050,-91.831833,Clinton 1st Term
53,11393,1993,Jonesboro,City,AR,Arkansas,South,34160,2.0,Anti-Gay (Male),35.201050,-91.831833,Clinton 1st Term
54,11394,1993,Newport,City,AR,Arkansas,South,34123,1.0,Anti-White,35.201050,-91.831833,Clinton 1st Term
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150978,601046,2018,Honolulu,City,HI,Hawaii,West,43398,1.0,Anti-White,19.898682,-155.665857,Trump 1st Term
150979,601047,2018,Honolulu,City,HI,Hawaii,West,43372,1.0,Anti-Black or African American,19.898682,-155.665857,Trump 1st Term
150980,601049,2018,Honolulu,City,HI,Hawaii,West,43291,1.0,Anti-Jewish,19.898682,-155.665857,Trump 1st Term
150981,601053,2018,Honolulu,City,HI,Hawaii,West,43456,1.0,Anti-Asian,19.898682,-155.665857,Trump 1st Term
150982,601055,2018,Honolulu,City,HI,Hawaii,West,43372,1.0,Anti-Black or African American,19.898682,-155.665857,Trump 1st Term

In [12]:
#saving cleaned data csv
hate_crimeDF.to_csv('cleaned_hate_crime.csv',index = False)

In [20]:
# Create PostgreSQL RDS Database Connection
engine = create_engine("postgres+psycopg2://postgres:project2group2@127.0.0.1:5432/Project_2_DB")
conn = engine.connect()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [15]:
# Check table names
engine.table_names()

['hate_crimes']

In [19]:
hate_crimeDF.to_sql('hate_crimes', conn)

ValueError: Table 'hate_crimes' already exists.

In [ ]:
pd.read_sql_query('select * from hate_crimes', con=engine).head()